<div class="row pt-5">
  <div class="col-md-4 py-5">
    <h3><strong>LATERAL</strong></h3>
    <p class="font-weight-light pb-4">
      Copyright © 2018 LATERAL. <br> All Rights Reserved. Proudly made in EU.
    </p>
    <img src="../../../assets/img/social/black/twitter.png" width="20px" class="figure-img img-fluid rounded mr-4" alt="...">
    <img src="../../../assets/img/social/black/facebook.png" width="20px" class="figure-img img-fluid rounded mr-4" alt="...">
    <img src="../../../assets/img/social/black/linkedin.png" width="20px" class="figure-img img-fluid rounded" alt="...">

  </div>
  <div class="col-md py-5 d-none d-sm-block">
    <h3><strong>Company</strong></h3>
    <p class="font-weight-light">About</p>
    <p class="font-weight-light">Careers</p>
    <p class="font-weight-light">Awards</p>
    <p class="font-weight-light">Users Program</p>
    <p class="font-weight-light">Locations</p>
  </div>
  <div class="col-md py-5 d-none d-sm-block">
    <h3><strong>Products</strong></h3>
    <p class="font-weight-light">Integrations</p>
    <p class="font-weight-light">API</p>
    <p class="font-weight-light">Pricing</p>
    <p class="font-weight-light">Documentation</p>
    <p class="font-weight-light">Release Notes</p>
  </div>
  <div class="col-md py-5 d-none d-sm-block">
    <h3><strong>Support</strong></h3>
    <p class="font-weight-light">Contact</p>
    <p class="font-weight-light">FAQ</p>
    <p class="font-weight-light">Press</p>
  </div>
</div>